<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="org.techtown.recipe">

<uses-permission android:name="android.permission.INTERNET"/>

<application
    android:name=".MyApplication"
    android:usesCleartextTraffic="true"
    android:allowBackup="false"
    android:fullBackupOnly="false"
    android:fullBackupContent="false"
    android:icon="@mipmap/ic_recipick"
    android:label="Recipick"
    android:roundIcon="@mipmap/ic_recipick_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Recipe">
    <activity android:name="org.techtown.recipe.login.AutoLoginActivity" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="org.techtown.recipe.login.LoginActivity" android:exported="true">

    </activity>
    <activity android:name="org.techtown.recipe.mypage.MyPageActivity" android:exported="true"></activity>
    <activity android:name="org.techtown.recipe.main.MainActivity" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
    </activity>
    <activity android:name="org.techtown.recipe.login.RegisterActivity" android:exported="true"></activity>
    <activity android:name="org.techtown.recipe.ranking.RankingActivity" android:exported="true"></activity>
    <activity android:name="org.techtown.recipe.main.RecipeActivity" android:exported="true"></activity>
    <activity android:name="org.techtown.recipe.mypage.WishListActivity" android:exported="true"></activity>
    <activity android:name="org.techtown.recipe.mypage.WishRecipeActivity" android:exported="true"></activity>
    <activity android:name="org.techtown.recipe.grade.GradeActivity" android:exported="true"></activity>
    <activity android:name="org.techtown.recipe.grade.GradeModifyActivity" android:exported="true"></activity>
    <activity android:name="org.techtown.recipe.search.SearchActivity" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
    </activity>


</application>

</manifest>